@tailwind base;
@tailwind components;
@tailwind utilities;


.input[type=email] {
  padding: 40px;
}

.input[type=password] {
  padding: 40px;
}

.placeholder-padding::placeholder {
  padding: 40px;
}

/*  */

.password-input {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

input[type="password"] {
  padding-right: 40px; /* Espacio para los iconos */
}
